* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#reviewForm {
  background-color: antiquewhite;
}

#reviewer {
  /* // 오른쪽에 위치한 후 teatarea가 아래에 안뜨고있음 */
}

#review {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  /* margin-right: 50px; 오른쪽이 안좁혀짐 */
}

#btn {
  /* float: right; 이 코드가 들어가면 reviewForm의 백그라운드 컬러가 적용이 안됨*/
}

.confirm {
  color: white;
  background-color: lightseagreen;
}

.error {
  color: white;
  background-color: lightcoral;
}
