/* 폰트 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* reset css */

/* 홈 이름 */
#header {
  /* width: 100vw; */
  box-shadow: 0px 4px 53px 0px rgba(0, 0, 0, 0.15);
  /* padding: 32px 162px 32px 162px; */
  /* min-width: 620px; */
  /* position: fixed; */
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 100px;
  z-index: 99;
}

#header h1 {
  color: #3a8cf5;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.headerContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 18px 162px;
}

.headerContents div {
  display: flex;
}

.headerContents div button {
  margin-right: 20px;
  width: 63px;
  height: 63px;
  border: none;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.first .bigImageSection {
  display: flex;
  background-image: url("../img/bigImage.jpg");
  width: 100vw;
  background-position: center;
  background-size: cover;
}

.bigImageTitle {
  color: #fff;
  margin: 368px 721px 368px 141px;
}

.bigImageTitle .smallIndex {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bigImageTitle .bigTitle {
  color: #fff;
  font-family: Pretendard;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#search-input {
  width: 403px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 65px;
  background: #f3f4f8;
  border: none;
  padding-left: 27px;
}

/* 영화 리스트 부분 */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

#card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin-top: 200px;
  gap: 50px;
  margin-bottom: 100px;
}

#movie-card-wrap {
  width: 283px;
  height: 554px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.05);
}

#movie-card-wrap .img {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 13px;
}

#movie-card-wrap .movie-img {
  width: 257px;
  height: 345px;
  flex-shrink: 0;
  border-radius: 14px;
}

/* #movie-card-wrap .img:hover .movie-img,
#moive-card-wrap .img:focus .movie-img {
  transform: scale(1.1);
} */

#movie-card-wrap .movie-title {
  color: #606060;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 36px;
  padding: 0 30px;
}

/* #movie-card-wrap .movie-content {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem;
  overflow: auto;
  overflow-x: hidden;
  height: 150px;
  opacity: 0.6;
} */

#movie-card-wrap .movie-rating {
  color: #606060;
  text-align: center;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
}

#movie-card-wrap {
  transition: all 0.5s ease;
}

#movie-card-wrap:hover .movie-rating {
  color: #fff;
}

#movie-card-wrap:hover .movie-title {
  color: #fff;
}

#movie-card-wrap:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #3a8cf5;
  box-shadow: 0px 26px 56px 0px rgba(0, 0, 0, 0.1), 0px 102px 102px 0px rgba(0, 0, 0, 0.09),
    0px 230px 138px 0px rgba(0, 0, 0, 0.05), 0px 410px 164px 0px rgba(0, 0, 0, 0.01),
    0px 640px 179px 0px rgba(0, 0, 0, 0);
}